version: '3.8'

services:
  web:
    build:
      context: .
      args:
        - REPO_URL=https://github.com/Dalso13/auto_work.git
        - CACHEBUST=${CACHEBUST}
    ports:
      - "8888:5000"
    env_file:
      - .env  